@model BlogTask.Models.Account.EditUserVeiwModel;

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<partial name="_ValidationScriptsPartial" />

@if (Model is not null)
{
    <div class="container my-1">
        <div class="p-1">

            <h3>Изменить данные пользователя @Model.Login</h3>

            <form method="post" asp-controller="AccountManager" asp-action="Edit">
                <div class="mb-3">
                    <label for="Title" class="form-label">Логин</label>
                    <input type="text" asp-for="Login" class="form-control" id="Title">
                </div>
                <div class="mb-3">
                    <label for="FirstName" class="form-label">Имя</label>
                    <textarea type="text" asp-for="FirstName" class="form-control" id="FirstName"> </textarea>
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label">Фамилия</label>
                    <textarea type="text" asp-for="LastName" class="form-control" id="InpLastNameutText"> </textarea>
                </div>
                <div class="mb-3">
                    <label for="SurName" class="form-label">Отчество</label>
                    <textarea type="text" asp-for="SurName" class="form-control" id="SurName"> </textarea>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Пароль</label>
                    <input type="password" asp-for="Password" class="form-control" id="Password">
                </div>
                <input type="text" asp-for="Guid" hidden />
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
}
