@model BlogTask.Models.Article.AddViewModel;

@{
    ViewData["Title"] = "Добавление статьи";
}
<div class="container my-1">
    <div class="p-1">

        <h3>Добавить статью</h3>

        <form method="post" asp-controller="Article" asp-action="Add">
            <div class="mb-3">
                <label for="Title" class="form-label">Заголовок</label>
                <input type="text" asp-for="Title" class="form-control" id="Title">
            </div>
            <div class="mb-3">
                <label for="InputText" class="form-label">Текст статьи</label>
                <textarea type="text" asp-for="Text" class="form-control" id="InputText"> </textarea>
            </div>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
</div>
