@model BlogTask.Models.Article.AddViewModel;

@{
    ViewData["Title"] = "Добавление статьи";
}
<div class="container my-1">
    <div class="p-1">
        @if (Model is not null)
        {
            <h3>Добавление статьи</h3>
        }
        <div class="card rounded-3">
            <h3>Добавление статьи</h3>
            <form method="post" asp-controller="Article" asp-action="Add">
                <input type="text" asp-for="Title" placeholder="заголовок">
                <input type="text" asp-for="Text" rows="5" placeholder="контекст">
                <button>Добавить</button>
            </form>
        </div>
    </div>
</div>
