@model BlogTask.Models.Article.EditViewModel;

@{
    ViewData["Title"] = "Изменение статьи";
}

@if (Model is not null)
{
    <div class="container my-1">
        <div class="p-1">

            <h3>Изменить статью</h3>

            <form method="post" asp-controller="Article" asp-action="Edit">
                <div class="mb-3">
                    <label for="Title" class="form-label">Заголовок</label>
                    <input type="text" asp-for="Title" class="form-control" id="Title">
                </div>
                <div class="mb-3">
                    <label for="InputText" class="form-label">Текст статьи</label>
                    <textarea type="text" asp-for="Text" class="form-control" id="InputText"> </textarea>
                </div>
                <input type="text" asp-for="Guid" hidden />
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
}