@if (Model is not null)
{
    ViewData["Title"] = Model.Send;

    <div class="container my-1">
        <div class="p-1 text-center">
            <a asp-controller="Article" asp-action="Add">Добавить статью</a>
        </div>
    </div>
}
else
{
    ViewData["Title"] = "Предуприждение!";
}

