@model BlogTask.Models.Article.ArticleViewModel;

@{
    ViewData["Title"] = "Просмотр статьи";
}
<div class="main">
    <div class="form">
        <h2>Название статьи(заголовок)</h2>
        <span class="badge bg-primary">Теги</span>
        <div>
            Текст статьи
        </div>

    </div>
</div>