@model BlogTask.Models.Tag.AddViewModel;

@{
    ViewData["Title"] = "Добавление Тега";
}
<div class="main">
    <div class="form">        
        <h2>Добавление тега</h2>
        <form class="login-form" method="post" asp-controller="Tag" asp-action="Add">           
            <input type="text" asp-for="Name" placeholder="название">
            <button>Добавить</button>
        </form>
    </div>
</div>