@model BlogTask.Models.Tag.ListViewModel;

<div class="container my-1">    
    <div class="p-1 text-center">
        <h3>Список тэгов</h3>
        @if (Model.List.Count != 0)
        {
            @foreach (var tag in @Model.List)
            {
                RouteValueDictionary get = new RouteValueDictionary();
                get["guid"] = tag.Guid;
                <span class="badge rounded-pill bg-success" style="display:inline;" cursor="pointer" role="button" onclick="location.href = '@Url.Action("View", get)'">@tag.Name</span>
            }
        }
        @if (User.IsInRole("Модератор"))
        {
            <span class="badge rounded-pill bg-primary" style="display:inline;" cursor="pointer" role="button" onclick="location.href = '@Url.Action("Add")'">+</span>
        }
    </div>
</div>