@model BlogTask.Models.Tag.TagViewModel;

@{
    ViewData["Title"] = "Информация о теге";
}

@if (Model is not null)
{
    <div class="container my-1">
        <div class="p-1">
            <div class="card rounded-3">
                @{
                    RouteValueDictionary get = new RouteValueDictionary();
                    get["guid"] = @Model.Guid;
                }
                <h5 class="card-header border-0">@Model.Name</h5>
                <a href="@Url.Action("Edit", get)">Редактировать тег</a>
            </div>
        </div>
    </div>
}