@model BlogTask.Models.Tag.TagViewModel;

@{
    ViewData["Title"] = "Информация о теге";
}

@if (Model is not null)
{
    <div class="container my-1">
        <h3 class="text-center">Информация о теге</h3>
        <div class="p-1">
            <div class="card rounded-3">
                @{
                    RouteValueDictionary get = new RouteValueDictionary();
                    get["guid"] = @Model.Guid;
                }
                <h5 class="card-header border-0">@Model.Name</h5>

                @if (User.IsInRole("Модератор"))
                {
                    <div class="p-1">
                        <button type="button" class="btn btn-success btn-sm" onclick="window.location='@Url.Action("Edit", get)'">Редактировать</button>
                    </div>
                }
            </div>
        </div>
    </div>
}