@model BlogTask.Models.Account.LoginViewModel;

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" asp-controller="AccountManager" asp-action="Login">
            <input type="text" asp-for="Login" placeholder="логин" />
            <input type="password" asp-for="Password" placeholder="пароль" />
            <button>Вход</button>
            <p class="message">Не зарегистрированы? <a href="Register">Создайте аккаунт</a></p>
        </form>
    </div>
</div>