@{
    ViewData["Title"] = "Регистрация";
}

@model BlogTask.Models.Account.RegisterViewModel;

<partial name="_ValidationScriptsPartial" />

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login-page">
    <div class="form">
        <form class="register-form" method="post" asp-controller="AccountManager" asp-action="Register">
            <span asp-validation-for="Login" class="text-danger"></span>
            <input type="text" asp-for="Login" placeholder="логин" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <input type="text" asp-for="FirstName" placeholder="имя" />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <input type="text" asp-for="LastName" placeholder="фамилия" />
            <div class="alert alert-warning" role="alert" for="Password" hidden id="Message">
                Пароли не совпадают!
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="password" asp-for="Password" placeholder="пароль" id="Password" oninput="MatchPassword()" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            <input type="password" asp-for="PasswordConfirm" placeholder="повторите пароль" id="PasswordConfirm" oninput="MatchPassword()" />            
            <button id="Reg">Зарегистрироваться</button>
            <p class="message">Уже зарегистрирован? <a href="Login">Выполните вход</a></p>
        </form>
    </div>
    <script type="text/javascript">
        function MatchPassword() {
            var pass = document.getElementById("Password");
            var passConf = document.getElementById("PasswordConfirm");
            var reg = document.getElementById("Reg");
            var message = document.getElementById("Message");

            if (pass.value != passConf.value) {
                reg.removeAttribute('enabled');
                reg.setAttribute('disabled', 'disabled');
                message.hidden = false;
            }
            else {
                reg.removeAttribute('disabled');
                reg.setAttribute('enabled', 'enabled');
                message.hidden = true;
            }
        }
    </script>
</div>