﻿@{
    ViewBag.Title = "Ошибочный запрос";
}
<div class="container my-1">
    <div class="p-1">
        <h1 class="text-center">Ошибка 400</h1>
        <p class="text-center">Что-то пошло не так.</p>
    </div>
</div>