﻿@{
    ViewBag.Title = "Страница не найдена";
}

<div class="container my-1">
    <div class="p-1">
        <h1 class="text-center">Ошибка 404</h1>
        <p class="text-center">Запрашиваемая страница не найдена.</p>
    </div>
</div>