@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column min-vh-100 align-items-center justify-content-center">
    <img src="~/images/Blog.png" class="rounded mx-auto d-block w-50 h-50">
</div>
