@model BlogTask.Models.Role.ListViewModel;

@{
    ViewData["Title"] = "Просмотр списка ролей";
}

@if (User.IsInRole("Администратор"))
{

    @if (Model.List.Count != 0)
    {
        @foreach (var role in @Model.List)
        {
            <div class="card">
                <h5 class="card-header">@role.Name</h5>
                <div class="card-body">
                </div>
            </div>
        }

    }

    <a href="Add">Добавить</a>
}
else
{
    <p>Вы не являетесь администратором!</p>
}