@model BlogTask.Models.Role.ListViewModel;

@{
    ViewData["Title"] = "Просмотр списка ролей";
}

@if (User.IsInRole("Администратор"))
{

    @if (Model.List.Count != 0)
    {
        @foreach (var role in @Model.List)
        {
            RouteValueDictionary get = new RouteValueDictionary();
            get["guid"] = role.Id.ToString();

            <div class="p-1">
                <div class="card">
                    <h5 class="card-header" cursor="pointer" role="button" onclick="location.href = '@Url.Action("View", get)'">@role.Name</h5>
                    <div class="card-body">
                        <p>@role.Description</p>
                    </div>
                </div>
            </div>
        }

    }

    <a href="Add">Добавить</a>
}
else
{
    <p>Вы не являетесь администратором!</p>
}